* {
	box-sizing: border-box;
}

.Container {
	width: 90%;
	margin: 0 auto;
	background-color: #dedede;
	padding: 1rem;

	.box {
		width: 350px;
		height: 350px;
		padding: 1rem;
		border: 2px solid red;

		&.red {
			background-color: red;
		}

		&.green {
			background-color: green;
		}
	}

}