* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.Container {
    width: 100%;
    padding: 1rem;
    background-color: #dedede;
    margin: 0 auto;
}
.Products {
        display: flex;
        width: 100%;
        background-color: red;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        flex-grow: 1;
    &__Item {
        width: 400px;
        height: 400px;
        background-color:green;
        padding: 8rem;
        text-align: center;
    }
}
