* {
    margin: 0;
    background-color: rgb(228, 241, 237);
    text-align: center;
}

button {
    transition: .3s;
    border: 1px solid rgb(5, 33, 34);
    color: rgba(15, 18, 71, 0.856);
    cursor: pointer;
    width: 120px;
    height: 35px;
    background-color: rgb(157, 238, 238);
    margin: 5px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px;
    font-size: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 150px;
}

button:hover {
    border-radius: 25px;
    height: 50px;
}

h1 {
    color: rgba(15, 18, 71, 0.856);
    font-size: 150px;
    margin: 100px;
    text-shadow: 10px 10px 15px;
}