*,
*::before,
*::after{
	box-sizing: border-box;
}

.users {
	display: flex;
	padding: 2rem;
	width: 100%;
	flex-wrap: wrap;
	gap: 20px
}

.users > article{
	padding: 25px;
	flex: 0 0 30%;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	background-color: rgba(228, 211, 211, 0.649);
	position: relative;
}

.delete-btn{
	top: 15px;
	right: 10px;
	background-color: transparent;
	font-weight: 900;
	font-size: 20px;
	position: absolute;
	cursor: pointer;
}

.box {
	border:1px solid red;
	
}